
@font-face {
  font-family: "AtkinsonHyperlegibleMono-VariableFont_wght";
  src: url("../fonts/AtkinsonHyperlegibleMono-VariableFont_wght.eot"); /* IE 8 */
  src: url("../fonts/AtkinsonHyperlegibleMono-VariableFont_wght.eot?#iefix") format("embedded-opentype"), /* IE 9 */
       url("../fonts/AtkinsonHyperlegibleMono-VariableFont_wght.woff2") format("woff2"), /* Современные браузеры */
       url("../fonts/AtkinsonHyperlegibleMono-VariableFont_wght.woff") format("woff"), /* Старые браузеры */
       url("../fonts/AtkinsonHyperlegibleMono-VariableFont_wght.ttf") format("truetype"); /* Мобильные устройства */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "beer-money12";
  src: url("../fonts/beer-money12.eot"); /* IE 8 */
  src: url("../fonts/beer-money12.eot?#iefix") format("embedded-opentype"), /* IE 9 */
       url("../fonts/beer-money12.woff2") format("woff2"), /* Современные браузеры */
       url("../fonts/beer-money12.woff") format("woff"), /* Старые браузеры */
       url("../fonts/beer-money12.ttf") format("truetype"); /* Мобильные устройства */
  font-weight: normal;
  font-style: normal;
}
