@use 'header/header';
@use 'fonts';

$base_color: orange;

body {
	background: url('../img/joker.png') no-repeat center top olivedrab;

	.title {
		color: $base_color;
		font-size: 52px;
		font-family: 'Inter-ExtraBold';
	}
}
